@import "tailwindcss";

.home-bg {
    background: linear-gradient(to bottom, #24375B 20%, #0D1421 40%);
}

.img-box:hover {
    box-shadow: inset 0 0 20px var(--color-blue-500);
}

.shadow-custom {
    box-shadow: 3px 3px 15px lightgray;
}